@import url("https://fonts.googleapis.com/css?family=Catamaran:400,700|Grand+Hotel");
html {
    font-size: 62.6%;
}
body {
    font-family: "Catamaran", sans-serif;
}
.nav {
    border: 1px solid red;
    padding: 10rem 5rem;
    width: 30rem;
    background-color: #e5e5e5;
}
.nav_list {
    list-style: none;
}
.nav_link {
    font-family: "Catamaran", sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 2.4rem;
    font-weight: 700;
    letter-spacing: calc(00.7rem - 0.4rem);
    color: #3a3e3b;
}
.header {
    background-image: url('../img/unnamed.jpg');
    background-size: cover;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.header h2 {
    font-family: "Grand Hotel", cursive;
    font-size: 3rem;
    color: #698f3f;
    letter-spacing: calc(00.7rem * 1.2);
}
.header h1 {
    font-family: "Catamaran", sans-serif;
    text-transform: uppercase;
    color: #fff;
    font-size: 6rem;
    letter-spacing: 0.7rem;
}
.header_btn {
    font-size: 1.6rem;
    padding: 2rem 3rem;
}
.feature_item{
    width: 25%;
    padding: 3rem 25%;
    border: 1px solid red;
    text-align: center;
}
.feature_title{
    text-transform: uppercase;
    font-size: 1.6rem;
    letter-spacing: calc(0.7rem - 0.2rem);
    color: #698f3f;
}
.feature_text {
    font-size: 1.6rem;
    color: #3a3e3b;
}
.about_left, .about_right{
    width: 50%;
}
.about_left {
    border: 7px solid #698f3f;
    border-radius: 22px;
    background-color: #698f3f;
}
.heading_first {
    font-family: "Grand Hotel", cursive;
    font-size: 3rem;
    color: #698f3f;
    letter-spacing: calc(0.7rem * 1.2);
}
.heading_second {
    font-size: 3.4rem;
    text-transform: uppercase;
    color: #3a3e3b;
}
.heading-second--white {
    color: #fff;
}
.about_text {
    font-size: 1.8rem;
}
.btn:link, .btn:visited {
    color: #3a3e3b;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: calc(00.7rem - 0.5rem);
}
.btn:hover {
    color: #e5e5e5;
}
#product {
    background-color: #3a3e3b;
}
.product_item {
    width: 30%;
    padding-top: 3rem;
    padding-bottom: 3rem;
    border: 1px solid red;
    border-bottom: 5px solid #698f3f;
}
.product_text {
    color: #fff;
    font-size: 1.8rem;
}
.product_img {
    border-radius: 22px;
}
.product-item_title {
    color: #fff;
    text-transform: uppercase;
    font-size: 2rem;
    letter-spacing: calc(00.7rem - 0.3rem);
    margin: 2rem 0;
}
.product-item_price {
    font-family: "Grand Hotel", cursive;
    font-size: 2.6rem;
    color: #698f3f;
    font-weight: 700;
}
.product-item_price span {
    margin-right: 1rem;
    font-size: 3rem;
    font-weight: 400;
}
.contact {
    background-color: #f1f5f8;
}
.contact-info, .contact-form{
    width: 50%;
}
.contact-info {
    text-transform: uppercase;
    font-size: 1.8rem;
}
.contact-form {
    background-color: #fff;
    text-align: center;
}
.contact-form h3 {
    color: #617d98;
}
.form-control {
    width: 100%;
    background-color: #f1f5f8;
    text-transform: uppercase;
    letter-spacing: 0.7rem;
}
.form-control::placeholder {
    font-family: "Catamaran", sans-serif;
    color: #102a42;
    text-transform: uppercase;
    letter-spacing: 0.7rem;
}
.submit-btn {
    width: 100%;
}
.btn_features {
    color: #3a3e3b;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 700;
    background-color: #698f3f;
    outline: 3px solid #698f3f;
    outline-offset: 4px;
    padding: 1rem 1rem
}