body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
.container {
    max-width: 500px;
    text-align: center;
}
.section-title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 25px;
    position: relative;
    display: inline-block;
}
.section-title::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -10px;
    transform: translate(-50%);
    width: 50px;
    height: 4px;
    background-color: #5d87ff;
}
.description {
    color: #333;
    line-height: 1.6;
    margin-top: 20px;
}